Repository Lure-of-Lysergide/cv-materializer: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --silent format, npm run --silent lint -- --fix

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "npm run --silent format",
    "npm run --silent lint -- --fix",
    "git add"
  ],
  "src/**/*.{scss,css,json,md}": [
    "npm run --silent format",
    "git add"
  ]
}

Fix CI pushing to GP repo
  .github/workflows/ci.yml
Due: none

Fix grid props in MarkdownRender
  src/components/MarkdownRender.tsx
Due: npm run --silent format, npm run --silent lint -- --fix

Install puppeter deps in alpine container
  .github/workflows/ci.yml
Due: none

Use Debian instead Alpine for CI
  .github/workflows/ci.yml
Due: none

Use bash for loading .env in CI
  .github/workflows/ci.yml
Due: none

Use bash as npm-run-script shell
  .github/workflows/ci.yml
Due: none

Fix CI workflow
  .github/workflows/ci.yml
Due: none

Debug peppeteer usage in CI
  .github/workflows/ci.yml
Due: none

Rm container usage from CI
  .github/workflows/ci.yml
Due: none

Add CNAME
  .env
  package.json
  public/index.html
  src/components/App.tsx
Due: npm run --silent format, npm run --silent lint -- --fix

Add page break before education paragraph
  src/assets/education.md
Due: npm run --silent format

Support SPA on GitHub Pages
  public/404.html
  public/index.html
Due: none

Update resume
  src/assets/contacts.md
  src/assets/education.md
  src/assets/experience.md
Due: npm run --silent format

Trigger CI pipeline on push to master only
  .github/workflows/ci.yml
Due: none

Update docs, jekyll theme and assets
  README.md
  _config.yml
  src/assets/experience.md
Due: npm run --silent format

Redirect from root to projects path
  src/components/App.tsx
Due: npm run --silent format, npm run --silent lint -- --fix

Open markdown generated links in new tab
  package.json
  src/components/MarkdownRender.tsx
Due: npm run --silent format, npm run --silent lint -- --fix

fix: package.json to reduce vulnerabilities
  package.json
Due: none

Improve responsivity, update assets
  src/assets/blog-under-construction.md
  src/assets/education.md
  src/assets/experience.md
  src/assets/index.ts
  src/assets/me.md
  src/assets/projects.md
  src/components/App.tsx
  src/components/Banner.tsx
  src/components/Header.tsx
  src/components/MarkdownRender.tsx
Due: npm run --silent format, npm run --silent lint -- --fix

Support additional scripts in index.html
  .github/workflows/ci.yml
  README.md
  public/index.html
  src/assets/projects.md
Due: npm run --silent format

Add front matter to fix style and improve aspect
  package.json
  src/assets/front-matter.md
Due: npm run --silent format

Fix eslint max-len issue
  src/components/MarkdownRender.tsx
Due: npm run --silent format, npm run --silent lint -- --fix

Minor asset update
  src/assets/experience.md
  src/assets/me.md
Due: npm run --silent format

Update experience-related assets
  src/assets/experience.md
  src/assets/me.md
Due: npm run --silent format
